In [5]:
s='0123456789'
print('s=',s,'s[:]=',s[:])
print('s=',s,'s[5:]=',s[5:])
print('s=',s,'s[-2:]=',s[-2:])
print('s=',s,'s[:5]=',s[:5])
print('s=',s,'s[:-2]=',s[:-2])
print('s=',s,'s[7:9]=',s[7:9])
print('s=',s,'s[-4:-1]=',s[-4:-1])
print('s=',s,'s[5:-2]=',s[5:-2])
print('s=',s,'s[2:10:2]=',s[2:10:2])
print('s=',s,'s[::-2]=',s[::-2])
print('s=',s,'s[-1::-1]=',s[-1::-1])

s= 0123456789 s[:]= 0123456789
s= 0123456789 s[5:]= 56789
s= 0123456789 s[-2:]= 89
s= 0123456789 s[:5]= 01234
s= 0123456789 s[:-2]= 01234567
s= 0123456789 s[7:9]= 78
s= 0123456789 s[-4:-1]= 678
s= 0123456789 s[5:-2]= 567
s= 0123456789 s[2:10:2]= 2468
s= 0123456789 s[::-2]= 97531
s= 0123456789 s[-1::-1]= 9876543210

In [6]:
list1=['春眠不覺曉','處處聞啼鳥','夜來風雨聲','花落知多少。']
s2='，'.join(list1)
print(s2)

春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [9]:
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
s3=s1.replace('春','冬')
print(s3)

冬眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [8]:
s1='An apple a day'
print(s1.title())

An Apple A Day

In [10]:
s1='an apple a day'
print(s1.capitalize())

An apple a day

In [11]:
t1=()
print(t1)

()

In [12]:
t2=1,2,3
print(t2)

(1, 2, 3)

In [13]:
t3=(1,2,3)
print(t3)

(1, 2, 3)

In [14]:
t3=(1,2,3)
print(t3[0])

1

In [16]:
t3=(1,2,3)
a,b,c=t3
print('a=',a,'b=','c=',c)

a= 1 b= c= 3